* {
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 40%;
    padding-top: 5%;
}

label {
    color: #ef5198;
    display: flex;
}

input {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 2px 2px 10px #00000013;
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    caret-color: #ef5198;
    background-color: #5a1c8d81;
    padding-left: 15px;
    letter-spacing: 0.8px;
    color: #ffffff;
    font-size: 13.4px;
}

input::placeholder {
    color: #dadae5;
}


button {
    background-color: #ef5198;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    width: 10em;
    border-radius: 1rem;
    color: #ffffff;
    box-shadow: 0 0.3rem 5px #5a1c8d81;
    cursor: pointer;
}

button:active {
    color: #ffffff;
    box-shadow: 0 0.2rem 5px #7424b581;
    transform: translateY(0.2rem);
}

button:hover:not(:disabled) {
    background: #ee65a3;
    color: white;
}

button:disabled {
    cursor: auto;
    color: #808080;
}