* {
    margin: 0;
    padding: 0;
}

.container-slide{
    display: flex;
    justify-content: space-between;
    width: 50vw;
    height: 50vh;
    background-color: #eb2b68;
    margin: 20vh auto;
    border-radius: 10px;
    box-shadow: 0 20px 30px #51cbe7;
    border: 5px solid #51cbe7;
}

.container-items {
    position: absolute;
    display: flex;
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
    overflow: hidden;
}

.item {
    width: 50vw;
    height: 50vh;
    transition: all 1s;
}
.item:first-child{
    margin-left: -100%;
}

.item img {
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
}

.action-button{
    font: bold 30px sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    color: #00d0ff;
    user-select: none;
    z-index: 1;
}
.action-button:hover{
    color: #8bd0e0;
    background-color: #f1457b;
    border-radius: 10px;
    cursor: pointer;
    transition: all 1s;
}

